@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,100;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ---------------------Variables for color palete---------------------- */
:root{
    --primary: #048BA8;
    --secondary: #0DB39E;
    /* --secondary: #3eb9a9; */
    --aqua: #16DB93;
    --darkblue:#54478C;
    --saphireblue:#2C699A;
    --lightgreen:#83E377;
    --inchworm:#B9E769;
    --corn:#EFEA5A;
    --maize:#F1C453;
    --sandybrown:#F29E4C;
}

/* -----------------Utility Styles--------------------------------------- */
button, input{
    outline: none;
    border: none;
}
i{
    cursor: pointer;
}

/* -----------------------------Header Starts---------------------------- */
header{
    /* position: relative; */
    border-bottom: 1px solid #dddddd;
}

header .top-bar{
    display: flex;
    /* background-color: thistle; */
    /* justify-content: space-between; */
}
header .top-bar .logo{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* background-color: teal; */
    flex:;
    text-align: left;
}
header .top-bar .logo .tagline{
    color: var(--saphireblue);
    font-size: 1.1rem;
    position: relative;
    /* padding-top: 1rem; */
    display: flex;
    align-content: center;
}
/* .tagline::before{
    content: "";
    position: absolute;
    background-color: var(--primary);
    width: 80%;
    height: .1rem;
    margin: auto;
}
.tagline::after{
    content: "";
    position: absolute;
    background-color: var(--primary);
    width: 80%;
    height: .1rem;
    bottom: 0%;
    left: 0%;
} */
header .top-bar .logo img{
    width: 5rem;
    /* border: 2px solid red; */
}
header .top-bar .logo #tag{
    width: 18rem;
    /* border: 2px solid red; */

}
header .top-bar .search-bar{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: rgb(110, 23, 110); */
    position: relative;
    
}

header .top-bar .search-bar input{
    height: 2rem;
    /* padding: .6rem 2rem; */
    border: 1px solid #dddddd;
    text-align: center;
    width: 100%;
}
.search-icon{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.search-icon i{
    position: absolute;
    top: 30%;
    right: 5%;
    color: var(--secondary);
}
header .top-bar .cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: yellow; */
}
header .top-bar .cart i{
    margin:0 .3rem;
}
header .top-bar .cart .fa-shopping-cart,
header .top-bar .cart .fa-heart,
header .top-bar .cart .fa-user{
    color: white;
    background: var(--secondary) !important;
    padding:0.3rem;
    align-items: center;
   border-radius: 3px;
}
header .top-bar .cart span{
    color: gray;
    font-weight: 100;
    font-size: .9rem;
    margin: 0 .3rem;
}

/* ------Navbar---------- */
nav{
    background: var(--secondary);
    /* background-color: #3681BF; */
}
nav.sticky{
    background-color: #3a9488;
    position: fixed;
     top: 0;
    z-index: 99999;
    width: 100%;
    transition: .3s linear;
}
nav.sticky ul li a{
    /* color: white !important; */
}
nav ul{
    /* background-color: thistle; */
}
nav ul li{
    font-weight: 400;
    margin: .1rem 1.2rem;
    letter-spacing: 1px;
}
nav ul li a{
    color: rgb(31, 28, 28) !important;
    font-weight: 400;
}
/* -----------------------------Header Ends---------------------------- */
/* -----------------------------Home / Carousel Starts---------------------------- */

#home{
    /* height: 90vh; */
}
.carousel-item img{
    width: 80vh;
    height: 90vh;
    background-size: 100% 100%;
}
.carousel-caption{
    background: rgba(0,0,0,0.7);

}
.carousel-caption h5{
    color: var(--sandybrown);
    text-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}


/* ---------------------------LOGIN AND SIGN UP FORM START!------------------- */
.popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 1000000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
}
.form-container{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
    border-radius: 4px;

}
.fa-times{
    position: absolute;
    top: 1rem;
    right:1rem;
}
.img-container{
    width: 50%;
    margin:;
} 
.img-container img{
   height: 100%;
   width: 100%;
} 
.form-container form{
    padding: 3rem 2.4rem;
}
